In [32]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("SQLite library version:", sqlite3.sqlite_version)
    except Error as e:
        print(e)

    return conn

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)

    rows = cur.fetchall()

    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        print("2. Query all tasks")
        select_all_tasks(conn)

if __name__ == '__main__':
    main()

SQLite library version: 3.45.3
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [37]:
import sqlite3
import pandas as pd

# Connect to your database
conn = sqlite3.connect('club.db')  # Adjust file path if needed

In [39]:
def get_low_revenue_facilities():
    query = """
    SELECT f.name AS facility,
           SUM(CASE 
                   WHEN b.memid = 0 THEN f.guestcost * b.slots
                   ELSE f.membercost * b.slots
               ) AS total_revenue
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    GROUP BY f.name
    HAVING total_revenue < 1000
    ORDER BY total_revenue;
    """
    return pd.read_sql_query(query, conn)

# Example usage
df_q10 = get_low_revenue_facilities()
df_q10

DatabaseError: Execution failed on sql '
    SELECT f.name AS facility,
           SUM(CASE
                   WHEN b.memid = 0 THEN f.guestcost * b.slots
                   ELSE f.membercost * b.slots
               ) AS total_revenue
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    GROUP BY f.name
    HAVING total_revenue < 1000
    ORDER BY total_revenue;
    ': near ")": syntax error

In [41]:
def get_member_recommendations():
    query = """
    SELECT m.surname || ', ' || m.firstname AS member_name,
           r.surname || ', ' || r.firstname AS recommended_by
    FROM Members m
    LEFT JOIN Members r ON m.recommendedby = r.memid
    ORDER BY m.surname, m.firstname;
    """
    return pd.read_sql_query(query, conn)

# Example usage
df_q11 = get_member_recommendations()
df_q11

DatabaseError: Execution failed on sql '
    SELECT m.surname || ', ' || m.firstname AS member_name,
           r.surname || ', ' || r.firstname AS recommended_by
    FROM Members m
    LEFT JOIN Members r ON m.recommendedby = r.memid
    ORDER BY m.surname, m.firstname;
    ': no such table: Members

In [43]:
def get_facilities_used_by_members():
    query = """
    SELECT DISTINCT f.name AS facility
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    WHERE b.memid != 0;
    """
    return pd.read_sql_query(query, conn)

# Example usage
df_q12 = get_facilities_used_by_members()
df_q12

DatabaseError: Execution failed on sql '
    SELECT DISTINCT f.name AS facility
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    WHERE b.memid != 0;
    ': no such table: Bookings

In [45]:
def get_facility_usage_by_month():
    query = """
    SELECT f.name AS facility,
           strftime('%m', b.starttime) AS month,
           COUNT(*) AS usage_count
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    WHERE b.memid != 0
    GROUP BY f.name, strftime('%m', b.starttime)
    ORDER BY f.name, month;
    """
    return pd.read_sql_query(query, conn)

# Example usage
df_q13 = get_facility_usage_by_month()
df_q13

DatabaseError: Execution failed on sql '
    SELECT f.name AS facility,
           strftime('%m', b.starttime) AS month,
           COUNT(*) AS usage_count
    FROM Bookings b
    JOIN Facilities f ON b.facid = f.facid
    WHERE b.memid != 0
    GROUP BY f.name, strftime('%m', b.starttime)
    ORDER BY f.name, month;
    ': no such table: Bookings